*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    /* height: 100vh; */

}

.container{
    display: flex;
    height: 90vh;
    /* met un box shadow */
    box-shadow: 0 0  7px 7px rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 80%;
    margin: 30px auto;
}

/* left */

.left{
   position: relative;
   height: 90vh;
   width: 50%;
   /* background: #fff; */
   display: flex;
   justify-content: center;
   /* border: solid red 1px; */
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

.header{
    position: absolute;
    top:20%;
    /* border: blue solid 1px; */
    font-size: 50px;

}

.header h4{
    color: #555;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.left-content{
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
    /* border: blue solid 1px; */
}

.left-content input{
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

.left-content label{
    font-size: 15px;
    color: #555;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    display: block;
}

.btn-submit{
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    background: black;
    color: #fff;
    cursor: pointer;
}

/* right */

.right{
    position: relative;
    height: 90vh;
    width: 50%;
    /* background-image: url(/static/images/login.jpg);
    background-size: cover;
    background-position: center; */

    /* border-radius: 15px; */
}

.right img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: solid red 1px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
