<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/edit.css" />
    <title>Add Task page</title>
  </head>
  <body>
    <h1>FORMULAIRE D'AJOUT</h1>

    <!-- un formulaire d'ajout de tache -->
    <form action="" class="addform" id="#addmodal" method="post">
      <label for="title">Titre:</label><br />
      <input type="text" id="title" name="title" /><br />
      <label for="description">Description:</label><br />
      <input type="text" id="description" name="description" value="" /><br />
      <label for="datexp">Date d'expiration:</label><br />
      <input type="date" id="datexp" name="datexp" value="" /><br /><br />
      <button type="submit" class="btn-save">AddTask</button>
      <!-- <button class="btn-exit">exit</button> -->
    </form>
  </body>
</html>
