<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h4>Taskoo</h4>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

        <a href="{url_for('login.html')}" class="btn">Log in</a>
    </nav>
    <div class="container">
        <div class="left">
            <div class="left-container">
                
                    <h1 class="title">Manage your activity with <span>Taskoo</span></h1>
                    <p class="description"> When you are overwhelmed by the amount of work you have on your plate,stop and rethink</p>
                
                    <div class="btn-container">
                        <a href="#" class="btn">Get Started</a>
                        <a href="#" class="btn">Sign in</a>
                    </div>
            
            </div>
        </div>

        <div class="right">
            <img src="/static/images/landing.png" alt="">
        </div>
    </div>
</body>
</html>