<!-- un formulaire de modification -->

    <form action="" class="editform" id="#editmodal">
      <label for="title">Titre:</label><br />
      <input type="text" id="title" name="title" value="" /><br />
      <label for="description">Description:</label><br />
      <input type="text" id="description" name="description" value="" /><br />
      <label for="datexp">Date d'expiration:</label><br />
      <input type="date" id="datexp" name="datexp" value="" /><br /><br />
      <button type="submit" class="btn-save">modify</button>
      <button class="btn-exit">exit</button>
    </form>