<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
       <link rel="stylesheet" href="/static/signin.css">

</head>
<body>
    
    <div class="container">
        <div class="left">
            <h2 class="logo">Taskoo</h2>
                    <div class="header">
                        <h1 class="title">Hi there !</h1>
                        <h4>Welcome to taskoo,Communuty</h4>
                    </div>
                    <form method="post" class="left-content">
                       <!--  un nom d’utilisateur, une adresse e-mail et un mot de passe. -->
                    
                        <input type="text" name="username" placeholder="Username" required><br>
                        <input type="password" name="password" placeholder="Password" required><br>
                        
                
                        <button type="submit" class="btn-submit">log in</button>
                
                    </form>
            
        </div>

        <div class="right">
         <img src="/static/images/login.jpg" class="img-right">
        </div>
    </div>
    
</body>
</html>