<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>taches</title>
    <link rel="stylesheet" href="/static/taches.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="nav">
      <p class="logo">TasKoo</p>
      <div class="item-nav">
        <a href="acceuil">Home</a>
        <a href="http://">My tasks</a>
      </div>
      <a href="/" class="logout">log out</a>
    </nav>

    <div class="sidebar">
      <div class="sidebar-content">
        <div class="userImg">
          <img src="/static/images/user.png" alt="" />
        </div>
        <div class="userInfo">
          <p>WELCOME</p>
          <p class="username">{{data[2]}}</p>
          <p class="email">{{data[1]}}</p>
        </div>
        <a href="/addtask/{{data[0]}}"><button class="add">Add Task</button></a>
      
      </div>
    </div>

    <h1 class="title">LA LISTE DE VOS TACHES</h1>
    <div class="bloc-taches">

      {% for i in data2 %}
      <div class="tache">
        <div class="titre">{{i[2]}}</div>
        <div class="description">
          {{i[4]}}
        </div>
        <div class="datexp">{{i[3]}}</div>
        <a href="/edit/{{data[0]}}/{{i[0]}}"><button  class="btn-edit">Modify</button></a>
        <a href="/delete/{{data[0]}}/{{i[0]}}"
          ><button type="button" class="btn-delete" name="delete">
            delete
          </button></a
        >
      </div>
      {% endfor %}
      
     
    </div>



   

   <script>
     //add task
    const addForm = document.querySelector('.addform');
    const btnexit = document.querySelector('.btn-exit');
    const addtask = document.querySelector('.add');

    //modif task
    const editForm = document.querySelector('.editform');
    const btnexit2 = document.querySelector('.btn-exit');
    const edittask = document.querySelector('.btn-edit');

    edittask.addEventListener('click',() =>{
      editForm.classList.toggle('hide');
    });


    addtask.addEventListener('click', () => {
      addForm.classList.toggle('hide');
    });
   </script>
  </body>
</html>
