<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>taches</title>
    <link rel="stylesheet" href="/static/taches.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="nav">
      <p class="logo">TasKoo</p>
      <div class="item-nav">
        <a href="acceuil">Home</a>
        <a href="http://">My tasks</a>
      </div>
      <a href="http://" class="logout">log out</a>
    </nav>

    <div class="sidebar">
      <div class="sidebar-content">
        <div class="userImg">
          <img src="/static/images/user.png" alt="" />
        </div>
        <div class="userInfo">
          <p class="username">username</p>
          <p class="email">email</p>
        </div>
        <button class="add">Add Task</button>
      
      </div>
    </div>

    <h1 class="title">LA LISTE DE VOS TACHES</h1>
    <div class="bloc-taches">
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        <button  class="btn-edit">Modify</button>
        <a href=""
          ><button type="button" class="btn-delete" name="delete">
            delete
          </button></a
        >
      </div>
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        <a href=""
          ><button type="button" class="btn-edit" name="edit">Modify</button></a
        >
        <a href=""
          ><button type="button" class="btn-delete" name="delete">
            delete
          </button></a
        >
      </div>
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        <button type="button" class="btn-edit" name="edit">Modify</button>
          <button type="button" class="btn-delete" name="delete">
            delete
          </button>
      </div>
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        <a href=""
          ><button type="button" class="btn-edit" name="edit">Modify</button></a
        >
        <a href=""
          ><button type="button" class="btn-delete" name="delete">
            delete
          </button></a
        >
      </div>
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        <a href=""
          ><button type="button" class="btn-edit" name="edit">Modify</button></a
        >
        <a href=""
          ><button type="button" class="btn-delete" name="delete">
            delete
          </button></a
        >
      </div>
      <div class="tache">
        <div class="titre">titre</div>
        <div class="description">
          description Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repellat, animi.
        </div>
        <div class="datexp">10/10/22</div>
        
          <button type="button" class="btn-edit" name="edit">Modify</button></a>
        
          <button type="button" class="btn-delete" name="delete">
            delete
          </button>
        
      </div>
    </div>

   <!-- un formulaire d'ajout de tache -->
   <form action="" class="addform" id="#addmodal">
    <label for="title">Titre:</label><br />
    <input type="text" id="title" name="title" value="" /><br />
    <label for="description">Description:</label><br />
    <input type="text" id="description" name="description" value="" /><br />
    <label for="datexp">Date d'expiration:</label><br />
    <input type="date" id="datexp" name="datexp" value="" /><br /><br />
    <button type="submit" class="btn-save">save</button>
    <button class="btn-exit">exit</button>
   </form>

   <!-- un formulaire de modification -->

    <form action="" class="editform" id="#editmodal">
      <label for="title">Titre:</label><br />
      <input type="text" id="title" name="title" value="" /><br />
      <label for="description">Description:</label><br />
      <input type="text" id="description" name="description" value="" /><br />
      <label for="datexp">Date d'expiration:</label><br />
      <input type="date" id="datexp" name="datexp" value="" /><br /><br />
      <button type="submit" class="btn-save">modify</button>
      <button class="btn-exit">exit</button>

   <script>
     //add task
    const addForm = document.querySelector('.addform');
    const btnexit = document.querySelector('.btn-exit');
    const addtask = document.querySelector('.add');

    //modif task
    const editForm = document.querySelector('.editform');
    const btnexit2 = document.querySelector('.btn-exit');
    const edittask = document.querySelector('.btn-edit');

    edittask.addEventListener('click',() =>{
      editForm.classList.toggle('hide');
    });


    addtask.addEventListener('click', () => {
      addForm.classList.toggle('hide');
    });
   </script>
  </body>
</html>
